.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
}